@font-face {
  font-family: 'Futura Now Headline Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Now Headline Regular'), url('FuturaNowHeadline.woff') format('woff');
}

body {
  margin: 0;
  font-family: Futura Now Headline Regular, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: #457B9D;
}

a:hover {
  text-decoration: none;
  color: #1D3557;
}

.main-title {
  font-size: 1.3rem;
  margin-bottom: 0 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1D3557;
  border-color: #1D3557;
  /*set the color you want here*/
}

.btn--who-am-i, .btn--download {
  background-color: #457B9D;
  border-color: #457B9D;
  border-radius: 12px;
  height: 2.7rem;
}

.btn-primary:hover {
  color: #1D3557 !important;
}

.btn--download-link {
  color: white;
  font-size: 1rem;
}

.btn--download-link:hover {
  color: white;
}

.btn--who-am-i-link {
  color: white;
}

.btn--who-am-i-link:hover {
  color: white;
}

.fa-bars {
  color: white;
}

.fab, .fas {
  color: #457B9D;
}

.fab:hover, .fas:hover {
  color: #1D3557;
}

.fa-bullseye, .fa-hourglass-half {
  color: #1D3557;
}

.wait {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  color: #457B9D;
}

.active {
  display: block;
}

.navbar-phe {
  background-color: #fff;
  display: flex;
  padding: 16px;
}

.navbar-brand--phe {
  color: #1D3557 !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
}

.nav-link--phe {
  color: #1D3557;
  padding-right: 2rem;
  text-decoration: none;
}

.navbar-menu--right {
  margin-left: auto;
}

.navbar-toggle--phe {
  display: none;
}

.footer {
  background-color: #EDF6F9;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-name {
  text-decoration: none;
  color: #1D3557;
}

.footer-container {
  display: flex;
  flex-direction: row;
}

.footer-container--profile {
  flex-direction: column;
  flex-wrap: wrap;
  color: #1D3557;
  width: 30%;
  padding: 2rem 2rem 1rem 12.5rem;
}

.footer-profile--name {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.footer-profile--description {
  font-size: 1rem;
  color: #1D3557;
}

.footer-container--social {
  width: 100%;
  padding: 2rem 2rem 1rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-container--social-navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  margin-left: 9rem;
}

.container--social-col {
  flex-direction: column;
  margin: auto;
}

.container--social-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

li.social-links {
  margin-left: 1rem;
}

.footer-navbar {
  margin-bottom: 1rem;
}

.footer-color {
  color: #1D3557 !important;
  padding-right: 4rem;
}

.footer-color:hover {
  color: #457B9D !important;
}

.footer-copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.footer-copyright--content {
  border-top: solid #545454;
  border-top-width: thin;
  color: #545454;
  padding-top: 1rem;
}

.section-banner-hello {
  font-size: 1.8rem !important;
}

.section-banner-job {
  font-size: 1.5rem !important;
  color: #1D3557;
  font-weight: 200;
}

.section-banner-welcome {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #EDF6F9;
}

.section-banner-welcome-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-banner-welcome-picture {
  margin: auto;
}

.section-banner-welcome-infos {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.section-banner-welcome-infos-text {
  display: flex;
  flex-direction: column;
}

.section-banner-welcome-infos-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.section-banner-welcome-infos-button-download {
  margin-left: 5rem !important;
}

.profile-picture {
  width: 280px;
  height: 280px;
}

.section-presentation {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-presentation-col {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;
  width: 33%;
}

.section-presentation-col--title {
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: #1D3557;
}

.container-contact {
  background-color: #EDF6F9;
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #457B9D;
}

.contact-text {
  margin-left: 12rem;
  align-items: left;
}

.section-banner-about-container {
  padding-left: 12.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-banner-about--title {
  color: #1D3557;
  font-size: 1.8rem !important;
}

.section-banner-about--subtitle {
  font-size: 1.5rem !important;
  color: #1D3557;
  font-weight: 200;
}

.career-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.career-container--subcontainer {
  flex: 1;
  flex-direction: column;
  padding-left: 2rem;
}

.separator {
  border: #1D3557 solid;
  border-width: 0.5px;
}

.carrer-container--subcontainer-title {
  color: #1D3557;
  margin-top: 0 !important;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  color: #1D3557;
  background-color: #A8DADC;
}

.carrer-container-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.carrer-image-logo {
  padding-top: 0.5rem;
  width: 180px;
}

.carrer-image-logo-xp {
  padding-top: 0.5rem;
  width: 80px;
}

.logo-lycee {
  width: 150px !important;
}

.description-lycee {
  padding-left: 5rem !important;
}

.carrer-item-description {
  padding-left: 3rem;
}

.carrer-item-description-title {
  margin-bottom: 0 !important;
}

.carrer-item-description-content {
  margin-top: 0.3rem !important;
  margin-bottom: 0 !important;
  font-weight: 200;
}

.carrer-item-description-content--date {
  margin-top: 0 !important;
  margin-bottom: 0.3rem !important;
  font-weight: 200;
}

.xp {
  margin-bottom: 0 !important;
}

.xp-duration {
  font-weight: 200;
  margin-bottom: 0.3rem !important;
}

.know-more {
  font-size: 0.8rem;
  font-style: italic;
}

.special-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.projects-global-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projects-item-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  border: 1px solid #EDF6F9;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: .3s;
  padding-top: 0;
  margin: 20px;
  max-width: 25%;
}

.project-thumb-image {
  width: 100%;
  border-radius: 0.4rem 0.4rem 0 0;
}

.project-thumb {
  align-self: center;
}

.projects-item-content{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
}

@media screen and (max-width: 1024px) {
  .footer-container--profile {
    padding-left: 7.5rem;
  }
  .contact-text {
    margin-left: 7rem;
  }
}

@media screen and (max-width: 930px) {
  .footer-container--profile {
    padding-left: 3rem;
    width: 35%;
  }
}

@media screen and (max-width: 880px) {
  .footer-container--social-navbar {
    flex-direction: column;
    margin-left: 0;
    margin-right: 2rem;
  }
  .social-links {
    padding-left: 0;
  }
  .container--social-col {
    margin: 0;
  }
  .section-presentation {
    font-size: 0.8rem !important;
  }
  .contact-text {
    margin-left: 4rem;
  }
  .contact-title {
    font-size: 0.8rem;
  }
  .typeform-share {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 660px) {
  .profile-picture {
    width: 200px;
    height: 200px;
  }
  .footer-color {
    padding-right: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .profile-picture {
    width: 180px;
    height: 180px;
  }
  .section-banner-hello {
    font-size: 1.5rem !important;
  }
  .section-banner-job {
    font-size: 1rem !important;
  }
  .section-presentation {
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .section-presentation-col {
    width: 70%;
    margin-bottom: 1rem;
  }
  .section-presentation-col:last-child {
    width: 70%;
    margin-bottom: 0;
  }
  .section-presentation-col--title {
    margin-bottom: 0;
  }
  .btn--download, .btn--who-am-i {
    font-size: 0.8rem;
  }
  .footer-container--social {
    padding-left: 0;
  }
  .footer-container--profile {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .footer-container--social-navbar {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .footer-copyright {
    text-align: center;
    border-top: solid #545454;
    border-top-width: thin;
    color: #545454;
  }
  .footer-copyright--content {
    border: none;
    padding-top: 0;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-container--profile {
    width: 100%;
  }
  .footer-container--social {
    flex-direction: column;
    padding-left: 2rem;
  }
  .social-links:first-child {
    margin-left: 0;
  }
  .container--social-icon {
    margin-top: 1rem;
  }
  .section-banner-welcome-container {
    flex-direction: column;
  }
  .section-banner-job {
    margin-top: 0;
  }
  .section-banner-hello {
    text-align: center;
  }
  .section-banner-welcome-infos-buttons {
    flex-direction: column;
  }
  .section-banner-welcome-infos-button-whoami {
    margin: auto;
    margin-bottom: 1rem;
  }
  .section-banner-welcome-infos-button-download {
    margin: auto auto 1.5rem auto !important;
  }
}

@media screen and (max-width: 415px) {
  .navbar-phe, .navbar-menu {
    flex-direction: column;
  }
  .navbar-menu--right {
    margin-left: 0;
  }
  #js-menu {
    display: none;
  }
  .navbar-toggle--phe {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .navbar-toggle--pheShow {
    display: flex;
  }
  .section-banner-welcome-infos-button-whoami {
    margin-bottom: 1.5rem;
  }
  .main-title {
    font-size: 1.2rem;
  }
  .contact-text {
    margin-left: 2rem;
  }
  .contact-title {
    font-size: 0.7rem;
    margin-right: 1.5rem;
  }
  .typeform-share {
    font-size: 0.7rem !important;
    line-height: 40px !important;
    height: 40px !important;
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 320px) {
  .section-banner-hello {
    font-size: 1.2rem !important;
  }
  .section-banner-job {
    font-size: 0.8rem !important;
  }
  .contact-title {
    font-size: 0.5rem;
    margin-left: 0.5rem;
  }
  .contact-text {
    margin-left: 0.5rem;
  }
  .typeform-share {
    font-size: 0.5rem !important;
    line-height: 30px !important;
    height: 30px !important;
    padding: 0 10px !important;
    margin-left: 0.3rem !important;
  }
}